streamlit
scipy==1.12
stanza
spacy
https://github.com/explosion/spacy-models/releases/download/uk_core_news_sm-3.7.0/uk_core_news_sm-3.7.0-py3-none-any.whl
flair
pymorphy3
transformers
openai==1.30.3
torch
